/* Estilos para la página de inicio de sesión */

.login-container {
  /* Estilos para el contenedor que contiene el formulario */
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente */
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px; /* Agregar espacio interno */
} 

.login-logo {
  /* Estilos para la imagen del logo */
  
  position: fixed;
  bottom: 20px;
  left: 20px;
  opacity: 20%;
  height: 250px;
  object-fit: cover;
  z-index: 0;
  mask-image: linear-gradient(
    black 50%,
    transparent 
  );
  animation: bounce 2s ease-in-out infinite; /* Animación de rebote */
  
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


h2 {
  font-size: 2em;
  text-align: center;
  margin: 0 0 20px; /* Añadir espacio debajo del título */
}

.form-group {
  margin-bottom: 20px; /* Añadir espacio entre grupos de formulario */
}

label {
  /* Estilos para las etiquetas */
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  /* Estilos para los campos de entrada */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  /* Estilos para el botón */
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agregar transición suave */
}

button:hover {
  background-color: #0056b3; /* Cambiar color de fondo al pasar el mouse */
}

a {
  /* Estilos para el enlace */
  padding-left: 5px;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline; /* Subrayar el enlace al pasar el mouse */
}
