#logo{
    padding: 5px;
    height: 50px;
    border-radius: 6px;
}

.nav-link{
    color: gainsboro;
}

.nav-link:hover{
    color: #cf119c;
}

#profileIco{
    height: 40px;
}

.list-group-item{
    background: gainsboro;
    color: black;
}

.exit:hover{
    color: red;
}

