body{
    background-color: rgb(19, 18, 18);
    color: gainsboro;
}

.columna{
    justify-content: center;
    display: flex;
    height: 400px;
}

.data{
    color: gainsboro;
    text-align: center;
}

.data h6{
    color: greenyellow;
}

.card{
    border-radius: 10px;
    width: 400px;    
    z-index: 1;
}

.btn{
    color: gainsboro;
    background-color: rgb(32, 32, 32);
}

.btn:hover{
    background-color: chartreuse;
    color: black;
}

#genre{
    justify-content: space-between;
    color: gainsboro;
}

#favs {
    overflow-y: auto;
    max-height: calc(100% - 46px); 
    background-color: gainsboro;
}

