body{
    background-color: rgb(19, 18, 18);
    color: gainsboro;
}

.columna1{
    justify-content: center;
    display: flex;
    height: min-content;
}

.columna2{
    justify-content: center;
    display: flex;
    height: 412px;
}

.data-container{
    color: gainsboro;
    text-align: center;
}

.data-container h6{
    color: greenyellow;
}

.card{
    border-radius: 10px;
    width: 400px;    
    height: min-content;
}

.btn{
    color: gainsboro;
    background-color: rgb(32, 32, 32);
}

.btn:hover{
    background-color: chartreuse;
    color: black;
}

#genre{
    justify-content: space-between;
    color: gainsboro;
}

#favs {
    overflow-y: auto;
    max-height: calc(100% - 45px); 
    background-color: gainsboro;
}

.data:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    transform: translateY(-2px);

}

.data{
    width: calc(100% - 80px);
    border-radius: 6px;
}

.data:active{
    transform: translateY(0);
}

