*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 /* body{
    font-family: Poppins;
    max-width: 1100px;
    margin: 0 auto;
  
  
  }*/
  
  img{
    max-width: 100%;
  }
  
  .title{
    text-align: center;
    padding: 30px 0;
  }
  
  
  .container-novedades{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
  
  .card-novedades{
    flex: 25%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  
  
  .container-img{
    flex: 1;
  }
  
  .container-img img{
    width: 100%;
    height: 75%;
    object-fit: contain;
  
  }
  
  .info-novedad{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 30px;
    height: 100%;
  }
  
  .info-novedad h3{
    color: #777;
    font-weight: 500;
  }
  
  
  .ver-mas{
    color: #000;
    font-weight: 700;
    margin: 15px 0;
  }
  
  .info-novedad button{
    background-color: #992626;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    margin-top: auto;
  }

  /* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; /* Aumentar el espaciado encima de la paginación */
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination-item {
  margin: 0 5px; /* Espaciado entre los enlaces de página */
}

.pagination-link {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #007bff; /* Cambiar el color del borde a azul */
  border-radius: 5px; /* Añadir borde redondeado */
  text-decoration: none;
  color: #007bff; /* Cambiar el color del texto a azul */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-link:hover {
  background-color: #007bff; /* Cambiar el color de fondo al pasar el ratón */
  color: #fff; /* Cambiar el color del texto a blanco */
}

.pagination-link.active {
  background-color: #007bff; /* Fondo azul para página activa */
  color: #fff; /* Texto blanco para página activa */
}

/* Ocultar texto "Siguiente" y "Anterior" */
.pagination-link.prev,
.pagination-link.next {
  display: none;
}
