*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

img{
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 15px;
}

p {
  color: #e8d4d4;
}

.title{
  text-align: center;
  padding: 30px 0;
}


.container-novedades{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  height: 100%;
  max-width: 100%;
  justify-items: center;
  align-items: center; 
}

.card-novedades{
  flex: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}



.container-img{
  flex: 1;
}

.container-img img{
  width: 100%;
  height: 75%;
  object-fit: contain;

}

.info-novedad{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 30px;
  height: 100%;
}

.info-novedad h3{
  color: #f6f6f6;
  font-weight: 500;
}

.container{
  margin: 15px;
}

.ver-mas{
  color: #ddd2d2;
  font-weight: 700;
  margin: 15px 0;
}

.info-novedad button{
  background-color: #ff7171;
  color: #f6f6f6;
  border: none;
  display: block;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .container-novedades {
    grid-template-columns: repeat(2, 1fr); /* Cambia a dos columnas en tabletas */
  }

  .card-novedades {
    margin-bottom: 5px; /* Reduce el espacio entre las tarjetas */
  }

  .container-img img {
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
  }

  .info-novedad {
    padding: 10px 20px; /* Reduce el padding en pantallas más pequeñas */
  }

  .info-novedad h3 {
    font-size: 1.2em; /* Reduce el tamaño del título en pantallas más pequeñas */
  }

  .info-novedad button {
    padding: 8px 0; /* Reduce el padding del botón en pantallas más pequeñas */
  }
}

@media screen and (max-width: 480px) {
  .container-novedades {
    grid-template-columns: repeat(1, 1fr); /* Cambia a una columna en dispositivos móviles */
  }
}
