.container {
  max-width:2000px;
  margin: auto;
  padding: 1em;
 }
 .track-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding: 10px;  
}


.track {
  width: calc(400px); /* Porcentaje menor y menos píxeles de margen */
  margin-bottom: 20px; /* Reducción de margen */
  box-shadow: 2px 4px 6px rgba(231, 9, 120, 0.5); /* Reducción de la sombra */
  border-radius: 8px; /* Reducción del radio de borde */
  padding: 15px;
}



.track img {
  width: 100%;
  height: auto;
  margin-bottom: 0px;  
  
}

input[type="avion"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #212121;
  color: #cf119c;
  box-shadow: 2px 2px 4px rgba(231, 9, 194, 0.7);
  width: 250px;
}

input[type="avion"]::placeholder {
  color: #b3b3b3;
 
}
input[type="avion"] + button {
  margin-left: 10px;
}


.yate {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.carro  {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #681db9;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;  
}

button:hover {
  background-color: #0087c5;
 
}

.track-info {
  margin-top: px;
    
}

.track-info h2 {
  margin-top: 0;
  font-size: 20px;
}



.track-info iframe {
  width: 100%;
  border-radius: 2px;
  
}


.maracas{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #681db9;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s; 
}